* {
  box-sizing: border-box;
}

html {
  background-color: #515968; /* A dark, slightly cool grey */
}

body {
  background: rgb(137, 185, 226);
  font-size: 18px;
  display: block;
  margin: 8px;
}

h1 {
  color: rgb(63, 63, 63);
  font-size: 42px;
  margin: 70px auto 0 auto;
}

.label-text {
  color: white;
}

.input {
  width: 200px;
  height: 30px;
}

form {
  display: none;
  width: 800px;
  margin: 15px auto;
  padding: 20px;
  border-radius: 4px;
  background: white;
}

fieldset {
  min-inline-size: min-content;
  margin-inline: 2px;
  border: 2px groove #c0c0c0;
  padding: 0.35em 0.75em 0.625em;
}

.form_errors,
.error_message {
  color: #a93333;
  display: none;
}

.error_message {
  display: none;
  margin-left: 30px;
}

.invalid_field {
  border: 2px solid #dc3545; /* Red border */
  background-color: #fff8f8; /* Light pink background */
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5); /* Subtle red glow */
}

.hidden {
  display: none;
}

.notification {
  margin-top: 20px;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}

.contact {
  /* Box appearance */
  border: 1px solid #ccc; /* A light border */
  border-radius: 8px; /* Rounded corners for a softer look */
  padding: 15px; /* Space inside the box */
  margin: 20px auto; /* Space outside and center the box on the page */
  max-width: 400px; /* Limits the box width */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

  /* Typography */
  font-family: Arial, sans-serif; /* A clear, readable font */
  line-height: 1.6; /* Good spacing between lines */
  background-color: #bcc2d0;
}

/* Optional: Styling for the content inside */
.content h2 {
  color: #333; /* Darker color for a title if you have one */
  margin-top: 0; /* Remove top margin from title */
  border-bottom: 1px solid gold; /* Separator line */
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.content p {
  margin: 5px 0; /* Space out the individual info lines */
  color: #333; /* Slightly lighter text color */
}

.has-text-success {
  background-color: #061477;
  font-weight: bold;
}

.has-text-danger {
  font-weight: bold;
}
